export(mlogit,mlogit.data,hmftest,logitform,is.logitform)
importFrom(sandwich,estfun,bread)
S3method(logitform,formula)
S3method(logitform,list)
S3method(terms,logitform)
S3method(update,logitform)
S3method(model.matrix,logitform)
S3method(model.frame,logitform)

S3method(fitted,mlogit)
S3method(residuals,mlogit)
S3method(df.residual,mlogit)
S3method(terms,mlogit)
S3method(estfun,mlogit)
S3method(bread,mlogit)
S3method(model.matrix,mlogit)
S3method(update,mlogit)
S3method(print,mlogit)
S3method(vcov,mlogit)
S3method(logLik,mlogit)
S3method(summary,mlogit)
S3method(print,summary.mlogit)

S3method(hmftest,mlogit)
S3method(hmftest,formula)
